<!DOCTYPE html>
<html>
<head>
<title>Task Manager</title>

<style>
body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

.container{
width:400px;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input{
width:70%;
padding:10px;
}

button{
padding:10px;
background:#28a745;
color:white;
border:none;
}

.task{
display:flex;
justify-content:space-between;
margin-top:10px;
padding:10px;
background:#eee;
}

.delete{
background:red;
color:white;
padding:5px 10px;
text-decoration:none;
}
</style>

</head>

<body>

<div class="container">

<h2>Task Manager</h2>

<form method="POST">
<input name="task" placeholder="Enter task">
<button>Add</button>
</form>

{% for task in tasks %}

<div class="task">
<span>{{ task }}</span>
<a class="delete" href="/delete/{{ loop.index0 }}">Delete</a>
</div>

{% endfor %}

</div>

</body>
</html>